/* Hide the team edition warning in the bottom of the open top left corner menu */
#startTrial {
	display: none !important;
}

/* Hide the leftover menu divider that was above the warning */
li.menu-divider:has(+ #startTrial) {
	display: none !important;
}

/* Hide the free trial banner / upgrade card in the admin console license page */
.admin-console__banner_section:has(.AlertBanner.info.AlertBanner--sys) {
	display: none !important;
}

/* Hide any upgrade dialogs that pop up*/
div[role="dialog"]:has(> #StartTrialFormModal) {
	display: none !important;
}

/* Hide the view plans button in the top right corner of the dashboard */
#RightControlsContainer #UpgradeButton {
	display: none !important;
}
