name: code

on:
  push:
    branches: [main]
  pull_request_target:

jobs:
  api:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api/src
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: api/go.mod
          cache-dependency-path: api/go.sum
      - name: Run formatter
        run: go fmt .
      - name: Run linter
        run: go vet .
  web:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: web/package.json
          cache-dependency-path: web/package-lock.json
      - name: Install dependencies
        working-directory: web
        run: npm ci
      - name: Run check
        run: npm run check
